__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/

.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml

node_modules/
cdk.out/
cdk/layers/

*.js
!cdk/**/*.js
*.d.ts
!cdk/**/*.d.ts

.DS_Store
*.swp
*.swo
